*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --margin: 11px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 920px;
    margin: auto;
}

header .container{
    height: 90px;
    background-color: rgb(229,121,230);
    margin: var(--margin) auto;
}

.hero-section{
    background-color: rgb(225,214,122);
    margin: calc(2*var(--margin)) auto;
    height: 400px;
}


.main-container-header{
    height: 60px;
    background-color: rgb(171,207,231);
    margin-bottom: 20px;
}

.column{
    background-color: rgb(171,207,231);
    width: 25%;
    float: left;
    height: 400px;
}

.center-column{
    width: calc(50% - 40px);
    margin: 0 20px;
}

.main-container{
    padding-bottom: 20px;
    background-color: rgb(0, 134, 255);
}

footer .container{
    height: 50px;
    background-color: rgb(136,1,254);
    margin-top: 20px;
}
