*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --margin: 11px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.font-family{
    font-family: 'Montserrat', sans-serif;
}

.grey-text{
    color: lightgrey;
}

/********************************************************************/

h1{
    font-size: 35px;
    font-weight: 700;
}

h3{ 
    font-weight: lighter;
    margin-bottom: 10px;
}

/********************************************************************/

.container{
    width: 920px;
    margin: 0 auto;
    position: relative;
/*     background-color: white; */
}

/********************************************************************/

header .container{
    height: fit-content;
    /* background-color: rgb(229,121,230); */
    margin: var(--margin) auto;
}

header .container img{
    height: 60px;
    padding-right: 14px;
    border-right: 1px solid lightgrey;
}

nav.container{
    margin: 35px auto 30px;
}

ul{
    list-style: none;
    margin-left: -8px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 5px 8px;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: lightgrey;
}

/********************************************************************/

.hero-section img{
    width: 100%;
    position: absolute;
    top: -120px
}

.hero-section::after{
    content: "";
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.hero-section{
    height: 400px;
    margin: calc(2*var(--margin)) auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;
    position: relative;
}

.hero-text{
    width: 50%;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: rgb(231, 231, 231);
    font-size: 15px;
    z-index: 2;
}

.thin-and-high{
    font-size: 27px;
    font-weight: lighter;
}

.main-container-header{
    height: 60px;
    margin-bottom: 40px;
}

.column{
    width: 25%;
    float: left;
    height: fit-content;
}

.column-image{
    height: 150px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px;
}

.column-image::after{
    content: "";
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.column-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.center-column{
    width: calc(50% - 40px);
    margin: 0 20px;
}

.main-container{
    padding-bottom: 20px;
    /* background-color: rgb(0, 134, 255); */
}

/********************************************************************/


footer .container{
    text-align: center;
    height: 50px;
    /* background-color: rgb(136,1,254); */
    margin-top: 20px;
}

.icon{
    color: red;
}